body {
  margin: 0;
  padding: 20px 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="select"],
input[type="text"],
textarea,
button {
  outline: none;
  box-shadow: none !important;
}

.message-board {
  padding: 20px;
  color: #ffffff;
  background-color: #212333;
  border: 3px solid #ced4da;
}

.title {
  padding-bottom: 20px;
}
.title h1 {
  color: #fb2963;
  font-weight: 600;
}

.text-alert {
  color: #fb2963;
  padding: 20px;
  border: 1px solid #fb2963;
}

.form-control {
  border-width: 3px;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #fb2963;
  border-color: #673ab7;
  border-width: 5px;
}
.btn-primary:active,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #673ab7;
  border-color: #fb2963;
}
